<div class="wrappermain">
    <section class="myCard">
        <div class="myRow">
            <div class="myColumn">
                <div style="height: 25%;" class="row-6">

                </div>
                <div style="height: 75%;" class="row-6">
                    <div class="col">
                        <mat-form-field *ngIf="allCurrencies" appearance="fill">
                            <mat-label>Source</mat-label>
                            <mat-select [(ngModel)]="selectedSource" (selectionChange)="onChangeSource($event)" >
                              <mat-option *ngFor="let item of allCurrencies" [value]="item.code">
                                {{item.country}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        <input mat-input type="text" name="" [(ngModel)]="sourceAmt" (keyup)="getExchange()">
                    </div>
                    <div class="col">
                        <mat-form-field *ngIf="allCurrencies" appearance="fill">
                            <mat-label>Target</mat-label>
                            <mat-select [(ngModel)]="selectedTarget" multiple (selectionChange)="onChangeTarget($event)" >
                              <mat-option *ngFor="let item of allCurrencies" [value]="item.code">
                                {{item.country}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="myColumn" style="background: linear-gradient(-135deg,#7D8594,#1D2022)">
            <div style="height: 30%;" class="row-6">

            </div>
            <div style="height: 70%;" class="row-6">
                <div class="col">
                    <table class="table table-light table-striped">
                        <thead >
                            <tr>
                                <th>Country</th>
                                <th>Exchange Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ratesArr">
                                <td>{{item.country}}</td>
                                <td>{{item.rate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>