<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register Form Design | CodeLab</title>
    <!-- <link rel="stylesheet" href="registerstyle.css"> -->
  </head>
  <body>

    <nav>
      <div class="logo">
       <h1>Currency Converter</h1>
      </div>
      <div class="menu"> 
       <ul>
        <li>Home</li>
        <li>Services</li>
        <li>AboutUs</li>
        <li>ContactUs</li>
       </ul>
      </div>
     </nav>
     
    <div class="wrapper">
      <div class="title">Register</div>
      <form action="#">
        <div class="field">
            <input type="text" required>
            <label>Name</label>
          </div>
        <div class="field">
          <input type="text" required>
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="password" required>
          <label>Password</label>
        </div>
       
        <div class="field">
          <input type="submit" value="Register">
        </div>
        <div class="signup-link">Already a member? <a href="#">Login now</a></div>
      </form>
    </div>

  </body>
</html>

